iframe,
img,
input,
video,
select,
svg,
textarea {
  max-width: 100%;
  height: auto;
}

iframe,
video {
  aspect-ratio: 16 / 9;
}

button,
input,
select,
textarea {
  padding: 0.25em 0.375em;
  border: 1px solid;
  border-radius: 0;
  background-color: field;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  text-overflow: ellipsis;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

:focus:not(:focus-visible) {
  outline: 0;
}
