*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  word-wrap: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

iframe {
  border: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

button,
input,
optgroup,
select,
textarea {
  border-radius: 0;
  color: inherit;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
}

[type='search'] {
  appearance: none;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

:focus:not(:focus-visible) {
  outline: 0;
}
