@define-mixin clear {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@define-mixin hide {
  &:not(:focus, :active) {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
  }
}

@define-mixin zero {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
