@define-mixin clear {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@define-mixin hide {
  &:not(:focus, :active) {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }
}

@define-mixin zero {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

@define-mixin container $width: 80rem {
  width: 100%;
  max-width: $width;
  margin-right: auto;
  margin-left: auto;
}
