.is-root-container {
  container: root / inline-size;
}

.wp-block-image {
  > .components-resizable-box__container {
    max-width: 100% !important;
    height: auto !important;
  }
}

.wp-block-theme-main {
  > .block-list-appender {
    position: relative;
  }
}
